<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string>Select background type</string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>me.midnightchips.ccbackgroundprefs</string>
				<key>key</key>
				<string>EnableTweak</string>
				<key>label</key>
				<string>Enable Tweak</string>
			</dict>
			<dict>
				<key>id</key>
				<string>selectedBackground</string>
				<key>cell</key>
				<string>PSSegmentCell</string>
				<key>default</key>
				<integer>0</integer>
				<key>defaults</key>
				<string>me.midnightchips.ccbackgroundprefs</string>
				<key>key</key>
				<string>selectedBackground</string>
				<key>validValues</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
				<key>validTitles</key>
				<array>
					<string>Photo</string>
					<string>GIF</string>
					<string>Video</string>
				</array>
			</dict>
			<dict>
				<key>id</key>
				<string>selectPhoto</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Select Photo</string>
				<key>action</key>
				<string>selectPhoto</string>
			</dict>
			<dict>
				<key>id</key>
				<string>selectGif</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Select Gif</string>
				<key>action</key>
				<string>selectPhoto</string>
			</dict>
			<dict>
				<key>id</key>
				<string>selectVideo</string>
				<key>cell</key>
				<string>PSButtonCell</string>
				<key>label</key>
				<string>Select Video</string>
				<key>action</key>
				<string>selectVideo</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerText</key>
				<string></string>
				<key>footerAlignment</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>detail</key>
				<string>AboutController</string>
				<key>isController</key>
				<true/>
				<key>label</key>
				<string>About</string>
				<key>iconImageSystem</key>
				<dict>
					<key>name</key>
					<string>info.circle.fill</string>
				</dict>
			</dict>
		</array>
		<key>title</key>
		<string>Personalized CC</string>
	</dict>
</plist>
